/* PSEUDO CODING */
/* Everything is centered except for timer and view high scores link*/
/* Everything is in columns*/
/* timer is kinda styled*/
    /* Buttons*/
        /* All buttons are in color "indigo"*/
        /* When you hover and/or click they turn color "orchid"*/
        /* Button text is white */
    /*Headers*/
        /* Text color is all black*/
    /*High scores link*/
        /* Styled opposite of timer as far as placement*/
        /* always in color "orchid*/
        /* not bolded */
/**/
:root{
    --orc: orchid;
    --ind: indigo;
    --blk: black;
    --wte: white; 
}

/*Banner section starts*/
.banner {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;

}
.timer h4{
    display: block;
    width: fit-content;
    right: 100%;
}
.high-scores{
    position: relative;
    width: max-content;
    color: var(--orc);
}
/*banner section ends*/


/*general styling*/
#quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    padding: 0;
    
}
#question {
    color:black;
}
.btn { /*this sets default button styling*/
    color: var(--wte);
    background-color: var(--ind);
    border-radius: 15%;
}
.hide {
    /*display: none;*/
    visibility: hidden;
}
.show {
    display: flex;
    visibility: visible;
}
.btn:hover {
    color: var(--wte);
    background-color: var(--orc);
}
.btn-grid {
    display: grid;
}
.q-header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.q-options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.btn-q-opt{
    color: var(--wte);
    background-color: var(--ind);
    border-radius: 15%;
}
.btn-q-opt:hover{
    color: var(--wte);
    background-color: var(--orc);
}
.page-styling{
    width: 600px;
}
/*general styling ends */


/*start page styling*/
#startPage { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.introContent{
    text-emphasis: none;
}
/*start page styling ends*/


/*Second page AKA first question styling starts*/

/*Second page AKA first question styling ends*/


/*Third page AKA second question styling starts*/



