/* PSEUDO CODING */
/* Everything is centered except for timer and view high scores link*/
/* Everything is in columns*/
/* timer is kinda styled*/
    /* Buttons*/
        /* All buttons are in color "indigo"*/
        /* When you hover and/or click they turn color "orchid"*/
        /* Button text is white */
    /*Headers*/
        /* Text color is all black*/
    /*High scores link*/
        /* Styled opposite of timer as far as placement*/
        /* always in color "orchid*/
        /* not bolded */
/**/
:root{
    --orc: orchid;
    --ind: indigo;
    --blk: black;
    --wte: white; 
}

/*Banner section starts*/
.banner {
    display: flex;
    padding: 5vh;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;

}
.timer h4{
    display: block;
    width: fit-content;
    right: 100%;
}
.high-scores{
    position: relative;
    width: max-content;
    color: var(--orc);
}
/*banner section ends*/


/*general styling*/
#quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    padding: 0;
    
}
h1 {
    justify-content: center;
    display: flex;
    padding: 2%;
}
#question {
    color:black;
    justify-content: center;
}
.controls{
    display: flex;
    justify-content: center;
}
.btn { /*this sets default button styling*/
    color: var(--wte);
    background-color: var(--ind);
    border: currentColor;
    border-radius: 15px;
    padding: 2%;
    margin: 2%;
}
#questionContainer {
    position: fixed;
}
#correctTextDisplay {
    position: fixed;
    bottom: 15vh;
}
#wrongTextDisplay {
    position: fixed;
    bottom: 15vh;
    /* i want to bold this */
}
.hide {
    /*display: none;*/
    visibility: hidden;
    width: 0vw;
    height: 0vh;
}
.bringUp{
    position: fixed;

}
.show {
    display: flex;
    visibility: visible;
}
.btn:hover {
    color: var(--wte);
    background-color: var(--orc);
}
.btn-grid {
    display: grid;
}
.q-header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.q-options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.btn-q-opt{
    color: var(--wte);
    background-color: var(--ind);
    border-radius: 15%;
}
.btn-q-opt:hover{
    color: var(--wte);
    background-color: var(--orc);
}
.page-styling{
    width: 600px;
}
/*general styling ends */


/*start page styling*/
#startPage { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.introContent{
    text-emphasis: none;
}
/*start page styling ends*/

/*end game styling*/
#end-game {
    height: auto;
    position: fixed;
    width: 50vw;
    height: 50vh;
    right: 25%;
    bottom: 10%;
    border: 2px solid var(--orc);
    border-radius: 15px;
}
#score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#score h4 {
    padding: 1%;
}



